@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  /*border: red solid 1px;*/
}

body {
  font-family: "Inter", sans-serif;
  background-color: #11111b;
  color: white;
}

nav {
  justify-content: space-between;
  padding: 0 2.5rem;
  align-items: center;
  height: 60px;
  background-color: #09090ed0;
  backdrop-filter: blur(5.5px);
  border-bottom: 2px solid #313244;
  position: sticky;
  top: 0;
}

nav,
.nav-links {
  display: flex;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1rem;
}

a {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: #cba6f7;
}

p {
  margin-bottom: 1rem;
}

.name {
  color: transparent;
  background: linear-gradient(45deg, #ea76cb, #8839ef);
  background-clip: text;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #313244;
}

.pfp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
}

.vline {
  fill: white;
}

.specialization-container {
  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin: 3rem 0;
}

.social-btn-icon {
  fill: white;
}

#github:hover {
  border-radius: 50%;
  fill: #b882ff;
  box-shadow: 0 0 10px #8839ef;
}

#linkedin:hover {
  border-radius: 17%;
  fill: #65d3ff;
  box-shadow: 0 0 10px #04a5e5;
}

#yt:hover {
  border-radius: 50%;
  fill: #ff7694;
  box-shadow: 0 0 10px #d20f39;
}

#fb:hover {
  fill: #64d3ff;
  box-shadow: 0 0 10px #1e66f5;
}

.pfp-container img {
  width: 300px;
  height: 300px;
  border: 2px solid transparent;
  border-radius: 8px;
  background: linear-gradient(45deg, #ea76cb, #8839ef);
  box-shadow: 0 0 100px #8839ef75;
}

.profile-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.profile-name {
  font-size: 2.5rem;
}

.profile-subtitle {
  font-size: 1.2rem;
  color: gray;
}

.aboutme-container {
  padding: 2rem;
  margin: 1rem;
  border: 2px solid #313244;
  border-radius: 8px;
  background-color: #1e1e2e;
  color: white;
  
}

.aboutme-container h1 {
  margin-bottom: 1rem;
  text-align: center;
}

.aboutme-container p {
  font-family: "Nunito", sans-serif;
}

.featured-container h1 {
  text-align: left;
}

.featured-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.featured-article-container {
  display: flex;
  flex-direction: row-reverse;
  background-color: blue;
}

.featured-article-picture-container img {
  width: 300px;
  height: 300px;
}

footer {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}