@media screen and (min-width: 701px) {
  #nav-btn-tray {
    display: flex;
  }
  #nav-btn-icon {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  #nav-btn-tray {
    display: none;
  }
  #nav-btn-icon {
    display: flex;
  }
}
